{% extends "base.html" %}
{% load static %}

{% block title %}Buscador de Vuelos | Aerolínea EFI{% endblock %}

{% block content %}

<div class="hero-section"> 
    <div class="container">
        <h1 class="text-center" style="font-weight: 300; margin-bottom: 50px;">
            Encuentra tu próximo vuelo
        </h1>
    </div>
</div>

<div class="search-box-wrapper">
    <div class="container">
        <div class="search-box-container">
            
            <div class="search-tabs">
                <span class="active">Vuelos</span>
                <span>Hoteles</span>
                <span>Paquetes</span>
            </div>
            
            <form method="get" action="{% url 'flights:search_flights' %}" class="search-form-row flight-search-form"> 
                
                <div class="form-field-group">
                    <label for="{{ search_form.origin.id_for_label }}">Origen</label>
                    {{ search_form.origin }}
                </div>

                <div class="form-field-group">
                    <label for="{{ search_form.destination.id_for_label }}">Destino</label>
                    {{ search_form.destination }}
                </div>

                <div class="form-field-group">
                    <label for="{{ search_form.date.id_for_label }}">Fecha de Salida</label>
                    {{ search_form.date }}
                </div>
            
                <div class="form-field-group" style="flex-grow: 0;">
                    <button type="submit" class="search-button">
                        Buscar Vuelos
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <h2>Ofertas en paquetes turisticos para los mejores destinos!</h2>

        <div class="carousel-wrapper">
            
            <button class="carousel-arrow left-arrow" aria-label="Anterior">←</button>

            <div class="carousel-container">
                <div class="carousel-track">
                
                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/a6bc4fbc-69c0-46f9-95c2-0127d397728c/300x200" alt="Paquete a Puerto Iguazu">
                            <span class="days-badge">5 DIAS / 4 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Puerto Iguazu</h3>

                            <div class="rating">
                                <span class="score">8.3</span>
                                <span class="starts">★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 237.839</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/d4cdb747-26f3-4c7c-ade8-95d13065e3f7/300x200" alt="Paquete Rio de Janeiro">
                            <span class="days-badge">8 DIAS / 7 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Río de Janeiro</h3>
                            
                            <div class="rating">
                                <span class="score">5.6</span>
                                <span class="starts">★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 712.660</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/e9866cbb-5dd9-4a61-8550-dde2b8ca744a/300x200" alt="Paquete San Carlos de Bariloche">
                            <span class="days-badge">8 DIAS / 7 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a San Carlos de Bariloche</h3>

                            <div class="rating">
                                <span class="score">8.9</span>
                                <span class="starts">★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 447.482</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/7769594f-2f9c-42e4-b01b-8397cffb0eda/300x200" alt="Paquete Buzios">
                            <span class="days-badge">10 DIAS / 9 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Búzios</h3>

                            <div class="rating">
                                <span class="score">9.6</span>
                                <span class="starts">★★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 750.658</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/5fece109-14d7-4061-a43e-9dc85d32d2fd/300x200" alt="Paquete Florianopolis">
                            <span class="days-badge">10 DIAS / 9 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Florianópolis</h3>

                            <div class="rating">
                                <span class="score">9.0</span>
                                <span class="starts">★★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 650.326</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/8e234e3a-2187-4e06-88fa-e84781aa28ff/300x200" alt="Paquete Salta">
                            <span class="days-badge">5 DIAS / 4 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Salta</h3>

                            <div class="rating">
                                <span class="score">9.0</span>
                                <span class="starts">★★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 251.214</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/d8aac029-2752-419f-9559-0e64202ab087/300x200" alt="Paquete Punta Cana">
                            <span class="days-badge">10 DIAS / 9 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Punta Cana</h3>

                            <div class="rating">
                                <span class="score">9.3</span>
                                <span class="starts">★★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 2.516.228</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                    <div class="package-card">
                        <div class="image-wrapper">
                            <img src="https://media.staticontent.com/media/pictures/d8aac029-2752-419f-9559-0e64202ab087/300x200" alt="Paquete Santiago de Chile">
                            <span class="days-badge">8 DIAS / 7 NOCHES</span>
                        </div>

                        <div class="package-details">
                            <p class="package-type">PAQUETE</p>
                            <h3>Paquetes a Santiago de Chile</h3>

                            <div class="rating">
                                <span class="score">9.3</span>
                                <span class="starts">★★★★★</span>
                            </div>

                            <p class="itinerary-detail">Saliendo desde Buenos Aires</p>
                            <p class="itinerary-detail">Hotel + Vuelo</p>

                            <button class="offer-button">Oferta Imbatible</button>

                            <div class="price-section">
                                <p class="price-label">Precio final por persona</p>
                                <p class="price">$ 851.349</p>
                                <p class="taxes-info">Incluye impuestos, tasas y cargos.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <button class="carousel-arrow right-arrow" aria-label="Siguiente">→</button>

        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<div class="content-section">
    <div class="container">
        <h2>✈️ Próximos Vuelos Disponibles</h2>

        <div class="flight-list mt-4"> 
            
            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/736x/e6/9f/ad/e69fade7a1a1135cf0c3549bd6b6f3fb.jpg" alt="Vuelo a Rio de Janeiro">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Buenos Aires → Río de Janeiro</h3>

                    <p class="itinerary-detail">Salida: **08/11/2025** | 11:30</p>
                    <p class="itinerary-detail">Llegada: **08/11/2025** | 16:30</p>

                    <div class="rating">
                        <span class="score">9.6</span>
                        <span class="starts">★★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 700.500</p>
                    </div>
                </div>
            </div>
            
            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/736x/2e/e1/39/2ee139e2188845a7ac5557e447864101.jpg" alt="Vuelo a Buenos Aires">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Córdoba → Buenos Aires</h3>

                    <p class="itinerary-detail">Salida: **12/11/2025** | 12:30</p>
                    <p class="itinerary-detail">Llegada: **12/11/2025** | 17:30</p>

                    <div class="rating">
                        <span class="score">9.0</span>
                        <span class="starts">★★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 250.000</p>
                    </div>
                </div>
            </div>

            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://ar.pinterest.com/pin/281543719062324/" alt="Vuelo a Buenos Aires">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Rio Cuarto → Buenos Aires</h3>

                    <p class="itinerary-detail">Salida: **12/11/2025** | 20:30</p>
                    <p class="itinerary-detail">Llegada: **13/11/2025** | 03:30</p>

                    <div class="rating">
                        <span class="score">8.5</span>
                        <span class="starts">★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 250.000</p>
                    </div>
                </div>
            </div>

            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/736x/21/54/6f/21546ff5ff587c366f040ebc8e090b10.jpg" alt="Vuelo a Chaco">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Mendoza → Chaco</h3>

                    <p class="itinerary-detail">Salida: **15/01/2026** | 17:30</p>
                    <p class="itinerary-detail">Llegada: **16/01/2026** | 03:15</p>

                    <div class="rating">
                        <span class="score">7.5</span>
                        <span class="starts">★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 250.000</p>
                    </div>
                </div>
            </div>

            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://ar.pinterest.com/pin/15129348743776561/" alt="Vuelo a España">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Buenos Aires → España</h3>

                    <p class="itinerary-detail">Salida: **26/05/2026** | 16:30</p>
                    <p class="itinerary-detail">Llegada: **27/05/2026** | 12:45</p>

                    <div class="rating">
                        <span class="score">9.8</span>
                        <span class="starts">★★★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 368.552</p>
                    </div>
                </div>
            </div>

            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://ar.pinterest.com/pin/41869471530431455/" alt="Vuelo a Córdoba">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Chubut → Córdoba</h3>

                    <p class="itinerary-detail">Salida: **25/06/2026** | 12:30</p>
                    <p class="itinerary-detail">Llegada: **25/06/2026** | 19:15</p>

                    <div class="rating">
                        <span class="score">9.8</span>
                        <span class="starts">★★★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 368.552</p>
                    </div>
                </div>
            </div>

            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://ar.pinterest.com/pin/203225001929792926/" alt="Vuelo a Cuba">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Buenos Aires → Cuba</h3>

                    <p class="itinerary-detail">Salida: **16/11/2026** | 08:30</p>
                    <p class="itinerary-detail">Llegada: **16/11/2026** | 21:30</p>

                    <div class="rating">
                        <span class="score">9.8</span>
                        <span class="starts">★★★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 665.900</p>
                    </div>
                </div>
            </div>

            <div class="package-card mb-4">
                <div class="image-wrapper">
                    <img src="https://ar.pinterest.com/pin/4855512094278073/" alt="Vuelo a Buenos Aires">
                </div>

                <div class="package-details">
                    <p class="package-type">VUELO DIRECTO</p>

                    <h3>Mendoza → Buenos Aires</h3>

                    <p class="itinerary-detail">Salida: **22/12/2026** | 12:30</p>
                    <p class="itinerary-detail">Llegada: **22/12/2026** | 16:30</p>

                    <div class="rating">
                        <span class="score">9.8</span>
                        <span class="starts">★★★★★</span>
                    </div>

                    <button class="offer-button">Conseguir Vuelo</button>

                    <div class="price-section">
                        <p class="price-label">Precio final por persona</p>
                        <p class="price">$ 665.900</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}